.card-container {
  display: grid;
  grid-template-areas: "image" "name" "job-title" "description";
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px;
  max-width: 300px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 5px var(--brownshadow);
  margin: 0;
  padding: 0;
  background-color: var(--lightcream);
}

.card-image {
  grid-area: image;
  object-fit: cover;
  max-width: 100%;
}

.card-name {
  grid-area: name;
  margin: 10px 15px;
  font-size: var(--font-h2);
}

.card-job {
  grid-area: job-title;
  margin: 10px 15px;
  font-size: var(--font-h4);
}

.card-description {
  grid-area: description;
  margin: 10px 15px;
  font-size: var(--font-content);
}
