.card-container {
  display: grid;
  grid-template-areas: "image" "name" "job-title" "description";
  grid-template-rows: max-content max-content max-content max-content;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px;
  max-width: 300px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 5px var(--brownshadow);
  margin: 15px 5px;
  padding: 0;
  background-color: var(--lightcream);
  text-align: left;
  gap: 5px;
}

.card-image {
  grid-area: image;
  object-fit: cover;
  max-width: 100%;
  max-height: 300px;
}

.card-name {
  grid-area: name;
  margin: 10px 15px;
  font-size: var(--font-h3);
  font-family: var(--font-header);
}

.card-job {
  grid-area: job-title;
  margin: 10px 15px;
  font-size: var(--font-content);
  font-family: var(--font-header);
}

.card-description {
  grid-area: description;
  margin: 10px 15px;
  font-size: var(--font-p);
}
