#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: radial-gradient(var(--dirtyorange), var(--orange));
}

/* Not necesserry, use content-heading style */
/* .contact-heading {
  font-size: var(--font-h2);
  text-align: center;
} */

form {
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: var(--font-h3);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: var(--greywhite) 1px solid;
}

input:focus {
  box-shadow: 0 4px 5px var(--brown);
  outline: none;
}
textarea:focus {
  box-shadow: 0 4px 5px var(--brown);
  outline: none;
}
input[type="submit"] {
  background-color: var(--brown);
  color: var(--white);
  cursor: pointer;
  border: none;
}

input[type="submit"]:focus {
  background-color: var(--darkbrown);
}
input[type="submit"]:hover {
  background-color: var(--darkbrown);
}

.required {
  color: var(--required);
}

#messageOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--dirtyorange), var(--orange));
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#messagePopUp {
  max-width: 15rem;
  background: var(--lightcream);
  color: var(--brown);
  padding: 50px 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--brownshadow);
  position: relative;
  font-size: var(--font-h3);
  text-align: justify;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: var(--font-h3);
  font-weight: bold;
  color: var(--brown);
}
