footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-card-container {
  width: 250px;
  margin: 20px 30px;
  font-size: var(--font-content);
}
