#home {
    padding: 50px 0;
    display: flex;
    max-width: 80%;
    margin: 30px auto 20px auto;
}

.title {
    color: var(--brown);
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 30px;
    font-size: 80px;
    padding-top: 10px;
    font-weight: bold;
    margin: 0 20px;
    background-color: var(--lightcream);
}

.town {
    font-size: 50px;
}

.imagebox {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 10px 20px 30px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 5px var(--brownshadow);
}

.hero-content img {
    width: 100%;
    height: auto;
    object-fit: fill;
    object-position: center;
}



.contentbox {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.adv-content {
    /* border: 1px solid black; */
    max-width: 600px;
}

.adv-content p {
    /* border: 1px solid black; */
    color: var(--brown);
    margin: 0 20px;
    text-align: justify;
    font-family: var(--font-content);
    font-size: var(--font-content);
    line-height: 1.6;
}

.adv-content-button {
    width: 40%;
    display: flex;
    justify-content: center;
}

.button {
    text-transform: uppercase;
    font-family: "Jazz LET", fantasy;
    font-size: 20px;
    border: 1px solid var(--brown);
    padding: 40px 50px;
    margin-left: 40px;
    box-shadow: 0 4px 5px var(--brownshadow);
    text-decoration: none;
    color: var(--brown);
    transition: background-color 0.3s;
    max-height: 50px;
}

.button:hover {
    background-color: var(--brown);
    color: var(--lightcream);
}


