:root{

    /*Font styling*/
    --orange: #ffbb32;
    --lightorange: #f9d58be6;
    --cream: #ffcc99;
    --lightcream: #fcddbf;
    --brownshadow:#804d00;
    --brown: #663300;
    --font: #000;
    --font-header: Arial, sans-serif;
    --font-content: Arial, sans-serif;

    /*link styling*/
    --link: #fff;

    /*Box size/border*/
    --border-radius: 5px;
    --section-max-width: 1500px;
<<<<<<< HEAD
    
    /*Desktop minimum screen width 1280*/
    --max-width: 
=======
>>>>>>> 9885a4ded6c90ba720f3fdcc27450a51b8f29c2a

}

body {
    margin: 0;
    padding: 0;
    font-family: var(---font-header);
    background-color: var(--lightcream);
}

.container{
    margin: auto;
    width: 90%;
}