.navcontainer {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: var(--orange);
  box-shadow: 0 4px 5px var(--brownshadow);
  text-transform: uppercase;
}

nav {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5 50px;
  background-color: var(--lightorange);
}

nav a {
  display: inline-block;
  color: var(--brown);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--lightorange);
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 2;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}
