.navcontainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--orange);
  /* box-shadow: 0 4px 5px #804d00; */
  /* text-shadow: 3px 3px 5px #804d00; */
  text-transform: uppercase;
}

nav {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  background-color: #333;
}

nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  width: 120px;
  height: 120px;
  background-color: #006400;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 2;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}
