/* ---- Small Desktop ----- */
@media (max-width: 1100px) {
  #home {
    max-width: 50rem;
  }
  .home-title-container h2 {
    font-size: 40px;
    letter-spacing: 70px;
    padding-top: 20px;
  }
  .home-content-img {
    max-height: 26rem;
  }
  .adv-content {
    max-width: 60%;
  }
  .cookieimg {
    display: none;
  }
}

/* ----- Large Tablet size ----- */
@media (max-width: 900px) {
  #home {
    max-width: 80%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .home-title-container {
    letter-spacing: 10px;
    line-height: 10%;
    justify-content: center;
  }
  .home-title-container h2 {
    writing-mode: horizontal-tb;
    letter-spacing: 25px;
    font-size: 2.2rem;
    margin: 10px 0;
    padding: none;
  }
  .subtitle {
    font-size: 1.6rem;
  }
  .content-container {
    max-width: 80%;
  }
  .card-container {
    margin: 20px 0;
  }
}

/* ---- Mobile size ----- */
@media (max-width: 600px) {
  #home {
    max-width: 90%;
    margin: 30px auto;
    padding: 0;
  }
  .home-title-container h2 {
    margin: 20px 0;
    letter-spacing: 8px;
    font-size: 30px;
  }
  .home-content-img {
    max-height: 20rem;
    max-width: 20rem;
    margin: 15px auto;
    border-radius: 60%;
  }
  .subtitle {
    font-size: 20px;
    margin: 20px 0;
  }
  .home-content-infobox {
    flex-direction: column-reverse;
  }
  .button {
    width: 200px;
    padding: 30px 50px;
  }
  .home-content-infobox {
    align-items: center;
    margin-top: 35px;
  }
  .adv-content {
    max-width: 100%;
  }
  .adv-content p {
    margin: 20px 0;
  }

    /* mobile botton navigation */
    .navcontainer{
        bottom: 0;
        top: auto;
    }

    nav {
        width: 100%;
        padding: 0 0;
    }
    
    .logo {
        display:none;
    }

  .about {
    flex-direction: column;
  }

  .profile {
    flex: 100%;
  }

  .cookie {
    flex: 100%;
    flex-basis: calc(100% - 20px);
  }

  footer {
    padding-bottom: 100px;
  }

  .footer-card-container {
    margin: 0px 30px;
  }
}
